
  <!-- Footer -->
  <footer class="py-5 bg-default position-relative text-white" id="footer-main">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-lg-3 col-md-6">
          <div class="d-inline-flex">
              <a class="navbar-brand" href="/">
                <img src="/static/assets/img/brand/logo-jata-negara.png" style="width:110px;">
              </a>
              <a class="navbar-brand my-auto" href="/">
                <img src="/static/assets/img/brand/logo-cidb-malaysia.png" style="width:110px;">
              </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <ul class="nav nav-footer justify-content-center">
            {% if main_logo.update_address %}
            <li class="nav-item">
              {{main_logo.update_address}}
          </li>
          {% else %}
            <li class="nav-item">
              LEMBAGA PEMBANGUNAN INDUSTRI PEMBINAAN MALAYSIA<br>
              <small>LEVEL 23, SUNWAY PUTRA TOWER,<br>
              NO. 100, JALAN PUTRA, 50350, KUALA LUMPUR.</small>
            </li>

           {% endif %}

          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="copyright text-center text-xl-left">
            BEST VIEWED<br>
            <small>The latest browsers of Internet Explorer, Mozilla Firefox and Google Chrome.</small>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <ul class="nav nav-footer justify-content-center flex-column">
            <li class="nav-item">
              &copy ALL RIGHTS RESERVED.
            </li> 
            <p><a href="{{main_logo.update_hyperlink}}">{{main_logo.update_hyperlink}}</a></p>
          </ul>          
        </div>
      </div>
    </div>
  </footer>
