
    <!-- The Inner links -->
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  d-flex  align-items-center">
            <a class="navbar-brand" href="/">
            <img src="/static/assets/img/brand/logo-cidb-malaysia.png" class="navbar-brand-img" alt="...">
            </a>
            <div class=" ml-auto ">
            <!-- Sidenav toggler -->
            <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                </div>
            </div>
            </div>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Nav items -->
            <ul class="navbar-nav">
                {% if request.user.role == "superadmin" %}
                <li class="nav-item">
                    <a class="nav-link" href="#navbar-dashboards" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                        <i class="fas fa-home text-primary"></i>
                        <span class="nav-link-text">PORTAL</span>
                    </a>
                    <div class="collapse" id="navbar-dashboards">
                        <ul class="nav nav-sm flex-column">

                        <li class="nav-item">
                                <a href="{% url 'dashboard_graph' %}" class="nav-link">
                                <span class="sidenav-mini-icon"> D </span>
                                <span class="sidenav-normal"> Dashboard </span>
                                </a>
                        </li>    
                        <li class="nav-item">
                            <a href="{% url 'dashboard_announcement' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> A </span>
                            <span class="sidenav-normal"> Announcement </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'dashboard_publication' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> P </span>
                            <span class="sidenav-normal"> Publication </span>
                            </a>
                        </li>
                        
                        </ul>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#navbar-application" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                        <i class="ni ni-archive-2 text-primary"></i>
                        <span class="nav-link-text">QLASSIC APPLICATION</span>
                    </a>
                    <div class="collapse" id="navbar-application">
                        <ul class="nav nav-sm flex-column">
                        {% comment %} <li class="nav-item">
                            <a href="{% url 'dashboard_application_overview' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> D </span>
                            <span class="sidenav-normal"> Dashboard </span>
                            </a>
                        </li> {% endcomment %}
                        {% comment %} <li class="nav-item">
                            <a href="{% url 'dashboard_application_profile' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> C </span>
                            <span class="sidenav-normal"> Contractor Profile </span>
                            </a>
                        </li> {% endcomment %}
                        {% if request.user.role == 'contractor' or request.user.role == 'applicant' %}
                        <li class="nav-item">
                            <!-- Header -->
                            <div class="nav-link">
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">Project</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'dashboard_application_project' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> P </span>
                            <span class="sidenav-normal"> Project Information </span>
                            </a>
                        </li>
    
                        {% endif %}
                        <li class="nav-item">
                            <!-- Header -->
                            <div class="nav-link">
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">Assessment Application</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'dashboard_application_list' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> L</span>
                            <span class="sidenav-normal"> List of Application </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <!-- Header -->
                            <div class="nav-link">
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">Assesment</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'list_assesment_data' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> S</span>
                            <span class="sidenav-normal"> List of  Assesment </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <!-- Header -->
                            <div class="nav-link">
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">Feedback</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'submit_feedback_form' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> S</span>
                            <span class="sidenav-normal"> Submit Feedback </span>
                            </a>
                        </li>
                        {% if request.user.role == 'superadmin' or request.user.role == 'casc_verifier' or request.user.is_assessor %}
                        <li class="nav-item">
                            <!-- Header -->
                            <div class="nav-link">
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">Assessor</span>
                            </div>
                        </li>
                        {% if request.user.role == 'superadmin' or request.user.role == 'casc_verifier' %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_application_assessor_list_all' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> A </span>
                            <span class="sidenav-normal"> Assessor Assignation </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.is_assessor %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_application_assessor_list_own' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> P </span>
                            <span class="sidenav-normal"> Project Assessment </span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        </ul>
                    </div>
                </li>
                {% if request.user.role == 'superadmin' or request.user.is_assessor or request.user.is_trainer or request.user.role == 'casc_verifier' or request.user.role == 'casc_approver' %}
                <li class="nav-item">
                    <a class="nav-link" href="#navbar-claim" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                        <i class="fas fa-file-invoice-dollar text-primary"></i>
                        <span class="nav-link-text">CLAIM APPLICATION</span>
                    </a>
                    <div class="collapse" id="navbar-claim">
                        <ul class="nav nav-sm flex-column">
                        {% if request.user.role == 'superadmin' or request.user.is_assessor %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_claim_dashboard' 'assessor' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> A </span>
                            <span class="sidenav-normal"> Assessment Claim </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.role == 'superadmin' or request.user.is_trainer %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_claim_dashboard' 'trainer' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> T </span>
                            <span class="sidenav-normal"> Training Claim </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.role == 'superadmin' or request.user.role == 'casc_verifier' or request.user.role == 'casc_approver' %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_claim_review_list' 'assessor' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> AA </span>
                            <span class="sidenav-normal"> Approve Assessment Claim </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.role == 'superadmin' or request.user.role == 'casc_verifier' or request.user.role == 'casc_approver' %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_claim_review_list' 'trainer' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> AT </span>
                            <span class="sidenav-normal"> Approve Training Claim </span>
                            </a>
                        </li>
                        {% endif %}
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if request.user.role == 'superadmin' or request.user.role == 'applicant' or request.user.role == 'casc_approver' or request.user.role == 'cidb_reviewer' or request.user.role == 'cidb_verifier' or request.user.role == 'cidb_approver' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard_report_list' %}">
                        <i class="fas fa-file-alt text-primary"></i>
                        <span class="nav-link-text">REPORTING &<br>CERTIFICATION</span>
                    </a>
                </li>
                {% endif %}
                {% if request.user.role == 'applicant' or request.user.is_assessor or request.user.role == 'cidb_reviewer' or request.user.is_trainer or request.user.role == 'trainee' or request.user.role == 'superadmin' %}
                <li class="nav-item">
                    <a class="nav-link" href="#navbar-training" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                        <i class="fas fa-user-tie text-primary"></i>
                        <span class="nav-link-text">QLASSIC TRAINING</span>
                    </a>
                    <div class="collapse" id="navbar-training">
                        <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <div class="nav-link">
                            <!-- Header -->
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">Trainer/QIA/QCA Application</span>
                            </div>
                        </li>
                        {% if request.user.is_trainer or request.user.role == 'trainee' or request.user.role == 'applicant' or request.user.is_assessor %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_training_application_dashboard' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> D </span>
                            <span class="sidenav-normal"> Dashboard </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.role == 'superadmin' or request.user.role == 'cidb_reviewer' %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_training_role_application_list' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> L </span>
                            <span class="sidenav-normal"> List of Application </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.role == 'superadmin' or request.user.is_trainer or request.user.role == 'cidb_reviewer' %}
                        <li class="nav-item">
                            <div class="nav-link">
                            <!-- Header -->
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">Manage Training</span>
                            </div>
                        </li>
                        {% if request.user.role == 'superadmin' or request.user.is_trainer %}
                            <li class="nav-item">
                                <a href="{% url 'dashboard_training_new' %}" class="nav-link">
                                <span class="sidenav-mini-icon"> N </span>
                                <span class="sidenav-normal"> New Training </span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_training_list' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> L </span>
                            <span class="sidenav-normal"> Manage Training </span>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <div class="nav-link">
                            <!-- Header -->
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">Join Training</span>
                            </div>
                        </li>
                        {% if request.user.role == 'superadmin' or request.user.is_trainer or request.user.role == 'applicant' or request.user.role == 'trainee' or request.user.role == 'cidb_reviewer' %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_available_training_list' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> L </span>
                            <span class="sidenav-normal"> List of Training </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.role == 'superadmin' or request.user.is_trainer or request.user.role == 'applicant' or request.user.role == 'trainee' %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_joined_training_list' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> R </span>
                            <span class="sidenav-normal"> Joined Training </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.is_assessor or request.user.is_trainer or request.user.role == 'applicant' or request.user.role == 'trainee' %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_joined_training_certificate' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> C </span>
                            <span class="sidenav-normal"> Certificate </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.role == 'superadmin' or request.user.role == 'cidb_reviewer' %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_qia_application_list' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> Q </span>
                            <span class="sidenav-normal"> QIA Application </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.role == 'applicant' or request.user.role == 'trainee' %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_training_feedback_list_trainee' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> F </span>
                            <span class="sidenav-normal"> Feedback </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.role == 'superadmin' or request.user.role == 'cidb_reviewer' %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard_training_feedback_list_staff' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> UF </span>
                            <span class="sidenav-normal"> User Feedback </span>
                            </a>
                        </li>
                        {% endif %}
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if request.user.role == "superadmin" %}
                <li class="nav-item">
                    <a class="nav-link" href="#navbar-management" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                        <i class="fas fa-tasks text-primary"></i>
                        <span class="nav-link-text">MANAGEMENT</span>
                    </a>
                    <div class="collapse" id="navbar-management">
                        <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <!-- Header -->
                            <div class="nav-link">
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">User</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'dashboard_management_user' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> U </span>
                            <span class="sidenav-normal"> User Roles </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'dashboard_verified_contractor' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> V </span>
                            <span class="sidenav-normal"> Verified Contractors </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- Header -->
                            <div class="nav-link">
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">Template</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'dashboard_letter_template' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> L </span>
                            <span class="sidenav-normal"> Letter Templates </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- Header -->
                            <div class="nav-link">
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">Assessment</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'dashboard_manage_component_v2' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> S </span>
                            <span class="sidenav-normal"> Manage Components </span>
                            </a>
                        </li>
                         <li class="nav-item">
                            <!-- Header -->
                            <div class="nav-link">
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">Training</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'dashboard_training_type' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> T </span>
                            <span class="sidenav-normal"> Training Type </span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </li>
                {% endif %}


                {% if request.user.role == "superadmin" %}
                <li class="nav-item">
                    <a class="nav-link" href="#navbar-information" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                        <i class="fas fa-tasks text-primary"></i>
                        <span class="nav-link-text">Update Information
                    </a>
                    <div class="collapse" id="navbar-information">
                        <ul class="nav nav-sm flex-column">
                        <!-- <li class="nav-item">
                           
                            <div class="nav-link">
                            <span class="sidenav-mini-icon"><i class="fas fa-caret-down"></i></span>
                            <span class="sidenav-normal dropdown-header ml--4">User</span>
                            </div>
                        </li> -->
                        <li class="nav-item">
                            <a href="{% url 'update_info' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> U </span>
                            <span class="sidenav-normal"> Update logo </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'update_hyperlink' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> V </span>
                            <span class="sidenav-normal"> Update hyperlink </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'application_history' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> V </span>
                            <span class="sidenav-normal"> Application history </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'update_info_footer' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> U </span>
                            <span class="sidenav-normal"> Update Info </span>
                            </a>
                        </li>
                        
                        
                        
                        
                       
                        </ul>
                    </div>
                </li>
                {% endif %}




                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" >
                        <i class="ni ni-user-run text-red"></i>
                        <span class="nav-link-text">Logout</span>
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
