{% extends "layouts/base.html" %}

{% block title %} Dashboard - Claim Application List {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">CIDB</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">Claim Application List</li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- Card stats -->
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header text-center">
            <h2 class="mb-0">List of Claim Application - 
              {% if mode == 'mileage' %}Mileage{% endif %}
              {% if mode == 'fi' %}FI{% endif %}
              {% if mode == 'transport' %}Public Transport{% endif %}
              {% if mode == 'accommodation' %}Accommodation{% endif %}
              {% if mode == 'other' %}Others{% endif %}
            </h2>
          </div>
          <div class="table-responsive py-4">
            {% if mode == 'mileage' %}
              <table class="table table-custom-simplified table-flush">
                <thead class="thead-light">
                  <tr>
                    <th rowspan="2" style="vertical-align: middle;">Date</th>
                    <th colspan="2">Time</th>
                    <th colspan="2">Destination</th>
                    <th rowspan="2" style="vertical-align: middle;">Distance</th>
                    <th rowspan="2" style="vertical-align: middle;">Purpose</th>
                  </tr>
                  <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>From</th>
                    <th>To</th>
                  </tr>
                </thead>
                <tbody>
                  {% for qaa in qaas %}
                  {% if qaa.application_status %}
                  <tr>
                    <th>{{ qaa.pi.project_title }}</th>
                    <td>{{ qaa.pi.project_title }}</td>
                    <td>{{ qaa.pi.project_title }}</td>
                    <td>{{ qaa.pi.project_title }}</td>
                    <td>{{ qaa.pi.project_title }}</td>
                    <td>{{ qaa.pi.project_title }}</td>
                    <td>
                      <a href="#" class="btn btn-sm btn-info w-100 mb-2">View</button>
                      {% if qaa.application_status == 'pending' %}
                      <a href="{% url 'dashboard_application_review' qaa.id %}" class="btn btn-sm btn-success w-100 mb-2">Review</button>
                      {% endif %}
                      {% if qaa.application_status == 'reviewed' %}
                      <a href="{% url 'dashboard_application_verify' qaa.id %}" class="btn btn-sm btn-success w-100 mb-2">Verify</button>
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
            {% if mode == 'fi' %}
              <table class="table table-custom-simplified table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>Assessment Start Date</th>
                    <th>Assessment End Date</th>
                    <th>Number of Days</th>
                    <th>Claim</th>
                  </tr>
                </thead>
                <tbody>
                  {% for qaa in qaas %}
                  {% if qaa.application_status %}
                  <tr>
                    <th>{{ qaa.pi.project_title }}</th>
                    <th>{{ qaa.pi.get_project_type_display }}</th>
                    <th>RM {{ qaa.pi.contract_value }}</th>
                    <th>{{ qaa.get_application_status_display }}</th>
                    <td>
                      <a href="#" class="btn btn-sm btn-info w-100 mb-2">View</button>
                      {% if qaa.application_status == 'pending' %}
                      <a href="{% url 'dashboard_application_review' qaa.id %}" class="btn btn-sm btn-success w-100 mb-2">Review</button>
                      {% endif %}
                      {% if qaa.application_status == 'reviewed' %}
                      <a href="{% url 'dashboard_application_verify' qaa.id %}" class="btn btn-sm btn-success w-100 mb-2">Verify</button>
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
            {% if mode == 'transport' %}
              <table class="table table-custom-simplified table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>Type of Transport Used</th>
                    <th>Transaction Date</th>
                    <th>Receipt Number</th>
                    <th>Receipt Amount</th>
                    <th>Receipt</th>
                  </tr>
                </thead>
                <tbody>
                  {% for qaa in qaas %}
                  {% if qaa.application_status %}
                  <tr>
                    <th>{{ qaa.pi.project_title }}</th>
                    <th>{{ qaa.pi.get_project_type_display }}</th>
                    <th>RM {{ qaa.pi.contract_value }}</th>
                    <th>{{ qaa.get_application_status_display }}</th>
                    <td>
                      <a href="#" class="btn btn-sm btn-info w-100 mb-2">View</button>
                      {% if qaa.application_status == 'pending' %}
                      <a href="{% url 'dashboard_application_review' qaa.id %}" class="btn btn-sm btn-success w-100 mb-2">Review</button>
                      {% endif %}
                      {% if qaa.application_status == 'reviewed' %}
                      <a href="{% url 'dashboard_application_verify' qaa.id %}" class="btn btn-sm btn-success w-100 mb-2">Verify</button>
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
            {% if mode == 'accommodation' %}
              <table class="table table-custom-simplified table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>Type of Accommodation Used</th>
                    <th>Transaction Date</th>
                    <th>Receipt Number</th>
                    <th>Receipt Amount</th>
                    <th>Receipt</th>
                  </tr>
                </thead>
                <tbody>
                  {% for qaa in qaas %}
                  {% if qaa.application_status %}
                  <tr>
                    <th>{{ qaa.pi.project_title }}</th>
                    <th>{{ qaa.pi.get_project_type_display }}</th>
                    <th>RM {{ qaa.pi.contract_value }}</th>
                    <th>{{ qaa.get_application_status_display }}</th>
                    <td>
                      <a href="#" class="btn btn-sm btn-info w-100 mb-2">View</button>
                      {% if qaa.application_status == 'pending' %}
                      <a href="{% url 'dashboard_application_review' qaa.id %}" class="btn btn-sm btn-success w-100 mb-2">Review</button>
                      {% endif %}
                      {% if qaa.application_status == 'reviewed' %}
                      <a href="{% url 'dashboard_application_verify' qaa.id %}" class="btn btn-sm btn-success w-100 mb-2">Verify</button>
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
            {% if mode == 'other' %}
              <table class="table table-custom-simplified table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>Type</th>
                    <th>Transaction Date</th>
                    <th>Receipt Number</th>
                    <th>Receipt Amount</th>
                    <th>Receipt</th>
                  </tr>
                </thead>
                <tbody>
                  {% for qaa in qaas %}
                  {% if qaa.application_status %}
                  <tr>
                    <th>{{ qaa.pi.project_title }}</th>
                    <th>{{ qaa.pi.get_project_type_display }}</th>
                    <th>RM {{ qaa.pi.contract_value }}</th>
                    <th>{{ qaa.get_application_status_display }}</th>
                    <td>
                      <a href="#" class="btn btn-sm btn-info w-100 mb-2">View</button>
                      {% if qaa.application_status == 'pending' %}
                      <a href="{% url 'dashboard_application_review' qaa.id %}" class="btn btn-sm btn-success w-100 mb-2">Review</button>
                      {% endif %}
                      {% if qaa.application_status == 'reviewed' %}
                      <a href="{% url 'dashboard_application_verify' paa.id %}" class="btn btn-sm btn-success w-100 mb-2">Verify</button>
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
  {% include 'includes/footer-dashboard.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
