{% extends "layouts/base-fullscreen.html" %}

{% block title %} Password Reset Complete {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page content -->
  <div class="bg-01">
    <div class="container py-8">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary border-0">
            <div class="card-header bg-transparent pb-5">

              <h3 class="text-center">
                Password Reset Complete
              </h3> 
              <br />
              <div class="text-muted text-center mt-2 mb-3">

                {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                  <span>
                    <p>Your password has been set. You may go ahead and log in now.</p>
                  </span>
                  <div>
                    <a class="btn btn-outline-warning" href="{% url 'home' %}">Back to Home Page</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>       
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
