{% extends "layouts/base.html" %}

{% block title %} Dashboard - User Role Detail {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load crispy_forms_tags %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">CIDB</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboards</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard_management_user' %}">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detail</li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- Card stats -->
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">

    <div class="row">
      <div class="offset-md-3 col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h2 class="mb-0">Manage User Role</h2>
          </div>
          <div class="card-body">
            <form action="" method="POST"> 
              {% csrf_token %}
              <p><strong>Name:</strong> {{ user.name }}</p>
              <p><strong>Email:</strong> {{ user.email }}</p>
              <p><strong>Current Role:</strong> {{ user.get_role_display }}</p>
              <p><strong>Assessor Status: </strong>{% if user.is_assessor %}<span class="text-success">Certified</span>{% else %}Not Certified{% endif %}</p>
              <p><strong>Trainer Status: </strong>{% if user.is_trainer %}<span class="text-success">Certified</span>{% else %}Not Certified{% endif %}</p>
              <button type="submit" name="assessor" class="btn btn-primary"{% if user.is_assessor %} disabled{% endif %}>Approve as Assessor</button>
              <button type="submit" name="trainer" class="btn btn-primary"{% if user.is_trainer %} disabled{% endif %}>Approve as Trainer</button>
              <hr>
              {{ role_form|crispy }}
              <div class="d-flex">
                <a href="{% url 'dashboard_management_user' %}" class="btn mr-auto btn-secondary">Back</a>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_update">Save</button>
              </div>

              <!-- Modal Confirmation -->
              <div class="modal fade" id="modal_update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Change role</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to change the role of this user?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" name="update" class="btn btn-primary">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/footer-dashboard.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
