<html>
<head>
    <style>
        @page {
            size: a4 portrait;
            margin: 2cm;
        }
    </style>
    <!-- Argon CSS -->
    <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3">Haiiii</div>
            <div class="col-3">Haiiii</div>
            <div class="col-3">Haiiii</div>
            <div class="col-3">Haiiii</div>
            <div class="col-3">Haiiii</div>
            <div class="col-3">Haiiii</div>
            <div class="col-3">Haiiii</div>
            <div class="col-3">Haiiii</div>
        </div>
    </div>
</body>
