{% extends "layouts/base-fullscreen.html" %}

{% block title %} QLASSIC {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="position-relative bg-01">
    <div class="container py-8">
      <div class="card" style="background:#00000044;">
        <div class="card-body p-5">
              <h2 class="mb-4 text-white text-center">OBJECTIVE OF QLASSIC</h2>
          <div class="card mb-0">
            <div class="card-body">
              <ul class="mb-0">
                <li>To benchmark the quality of workmanship of the construction industry</li>
                <li>To establish a standard quality assessment system on quality of workmanship of construction work</li>
                <li>To assess the quality of a workmanship of a construction project based on the relevant approved standard</li>
                <li>To be used as a criterion to evaluate the performance of contractors based on quality of workmanship</li>
                <li>To compile data for statistical analysis</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
