{% extends "layouts/base-fullscreen.html" %}

{% block title %} Contact Us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page content -->
  <div class="bg-01">
    <div class="container py-8">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card" style="background:#00000077;">
            <div class="card-header bg-transparent text-white">

              <h2 class="text-center text-white">
                You can contact us at the following
              </h2>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <p class="mb-0 text-white">
              <strong>
              EN. SYED HAZNI ABD GANI
              <small>
              <br>MANAGER
              <br>CONSTRUCTION ASSESSMENT CENTRE (CASC)
              <br>CENTRE FOR QUALITY ASSURANCE AND CERTIFICATION (CQAC)
              <br>CONSTRUCTION RESEARCH INSTITUTE OF MALAYSIA (CREAM)
              </small>
              </strong>
              <br>
              <br>Sunway Putra Tower
              <br>Tingkat 29, No. 100, Jalan Putra
              <br>50350 Kuala Lumpur
              <br>Malaysia
              <br>
              <br><strong>Tel:</strong> 03- 4040 0040
              <br><strong>Fax:</strong> 03- 4050 2649
              <br><strong>E-mail:</strong> qlassic@cream.my / casc@cream.my
              </p>
              <hr style="background:white;">
              <p class="mb-0 text-white">
              <br>i. En. Syed Hazni Abd Gani – ext. 228
              <br>ii. En. Mohammad Darsuki Lahat – ext. 233
              <br>iii. En. Muhammad Helmyyuzi Hamid – ext. 238
              <br>iv. En. Mohd Azrol Azmi – ext. 238
              </p>
            </div>
          </div>       
        </div>
      </div>
    </div>
  </div>
  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
