{% extends "layouts/base.html" %}

{% block title %} Dashboard - Profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">CIDB</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- Card stats -->
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header text-center">
            <h2 class="mb-0">Update logo</h2>
          </div>
          <div class="card-body">
            <div class="text-center mb-5">

                <a class="navbar-brand" href="/">
                    {% if logo.update_logo.url %}
                    <img src="{{logo.update_logo.url}}" style="width:110px;">
                    {% endif %}
                  </a>
             
                <div>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <p>Header Logo<input type="file" name="update_logo" accept="image/*" class="form-control" id="id_profile_image"></p>
                    <p>Footer Logo<input type="file" name="update_footer_logo" accept="image/*" class="form-control" id="id_profile_image_footer"></p>
                     <button type="submit" class="btn btn-primary">Update Logo</button>
                    </form>
                </div> 
            </div>
            
          
          </div>
        </div>
      </div>
   
    </div>

  

  
  </div>
  
  {% include 'includes/footer-dashboard.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}




