{% extends "layouts/base.html" %}

{% block title %} Dashboard - Announcements {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load crispy_forms_tags %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">CIDB</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">Announcements</li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- Card stats -->
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h2 class="mb-0">Add New Announcement</h2>
            <p class="mb-0">Announcement Information</p>
          </div>
          <div class="card-body">
            <form action="" method="POST">
              {% csrf_token %}
              {{ form_announcement|crispy }}
              <button type="submit" name="create" class="btn btn-primary">Save</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h2 class="mb-0">Lists</h2>
          </div>
          <div class="table-responsive py-4">
            <table class="table table-custom-simplified table-flush">
              <thead class="thead-light">
                <tr>
                  <th>Title</th>
                  <th>Announcement</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for ann in announcements %}
                <tr>
                  <th>{{ ann.title|truncatechars:20 }}</th>
                  <td>{{ ann.announcement|truncatechars:40 }}</td>
                  <td>{{ ann.get_publish_display }}</td>
                  <td><a href="{% url 'dashboard_announcement_id' ann.id %}" class="btn btn-sm btn-info w-100 mb-2">Edit</button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% include 'includes/footer-dashboard.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
