{% extends "layouts/base.html" %}

{% block title %} Dashboard - {{ title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">CIDB</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboards</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard_application_list' %}">Application</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- Card stats -->
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">

    <div class="row">
      <div class="col-md-12">
        {% if mode == 'payment' %}
            <div class="col-lg-12">
                <div class="card">
                <div class="card-header text-center">
                    <h2 class="mb-0">QLASSIC Assessment Application - Payment</h2>
                </div>
                <div class="card-body">
                    <h2 class="mb-0">Project Title</h2>
                    <h4 class="">{{ qaa.pi.project_title }}</h4>
                    <p class="mb-0">Application Number: {{ qaa.qaa_number }}</p>
                    <hr>
                    {% if proforma %}
                    <form action="{{ url }}" method="POST">
                    <input type="hidden" name="ClientReturnURL" value="{{ response_url }}">
                    <input type="hidden" name="IcOrRoc" value="{{ request.user.code_id }}">
                    <input type="hidden" name="OrderID" value="{{ proforma }}">
                    <input type="hidden" name="Currency" value="MYR">
                    <input type="hidden" name="TransactionType" value="SALE">
                    <input type="hidden" name="ClientRef0" value="">
                    <input type="hidden" name="ClientRef1" value="">
                    <input type="hidden" name="ClientRef2" value="">
                    <input type="hidden" name="ClientRef3" value="">
                    <input type="hidden" name="ClientRef4" value="">
                    <div class="form-group">
                        <label for="">Amount (MYR)</label>
                        <input type="text" name="Amount" value="{{ amount|floatformat:2 }}" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="">Customer Name</label>
                        <input type="text" name="CustomerName" value="{{ request.user.name }}" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="">Customer Email</label>
                        <input type="text" name="CustomerEmail" value="{{ request.user.email }}" readonly required>
                    </div>
                    <div class="form-group">
                      <label for="">Customer Phone Number</label>
                      <input type="text" name="CustomerPhoneNo" value="{{ request.user.hp_no }}" readonly required>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary text-right">Pay</button>
                    </div>
                    </form>
                    {% else %}
                    <p>Problem with creating proforma. Please try again later</p>
                    {% endif %}
                </div>
                </div>
            </div>
        {% endif %}
        {% if mode == 'payment_response' %}
            <div class="col-lg-12">
                <div class="card">
                <div class="card-header text-center">
                    <h2 class="mb-0">Payment Status</h2>
                </div>
                <div class="card-body text-center">
                  {% if payment %}
                    {% if payment.payment_status == 1 %}
                      <h4 class="mb-0">SUCCESS</h4>
                      {% if receipt_url %}
                        <a href="{{ receipt_url }}" class="btn btn-sm btn-primary" target="_blank">Download Receipt</a>
                      {% endif %}
                    {% else %}
                      <h4 class="mb-0">FAIL</h4>
                    {% endif %}
                    <hr>
                    <p>{% if payment.payment_status != 1 %}<strong>Description:</strong>{{ payment.status_description }}{% endif %}</p>
                    <p><strong>Receipt Number:</strong>{{ payment.receipt_number }}</p>
                    <p><strong>Transaction Date:</strong>{{ payment.payment_date }}</p>
                    <div class="text-center">
                    <a href="{% url 'dashboard_application_list' %}" class="btn btn-primary">Return to Assessment Application List</a>
                    </div>
                  {% else %}
                    <h4>Problem with transaction. Please contact our staff for verifying the transaction.</h4>
                  {% endif %}
                </div>
                </div>
            </div>
        {% endif %}
      </div>
    </div>

  </div>
  {% include 'includes/footer-dashboard.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}