{% extends "layouts/base.html" %}

{% block title %} Dashboard - Application List {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}


  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">CIDB</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">Application List</li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- Card stats -->
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">

    <div class="row">
      <div class="col-md-12">

        <!-- All Applications -->
        <div class="card">
          <div class="card-header text-center">
            <h2 class="mb-0">List of Applications</h2>
            {% if role_type == 'applicant' %}
              <div class="text-center mt-3">
                <a href="{{ payment_history_url }}" class="btn btn-primary btn-sm" target="_blank">Payment History</a>
              </div>
            {% endif %}
          </div>
          <div class="container">
            <form method="post">
                {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary">Update Info</button>
                </form>
          </div>
         
        </div>
      </div>
    </div>
    <form id="form_payment" action="" method="POST">
      <input type="hidden" name="ClientReturnURL">
      <input type="hidden" name="IcOrRoc">
      <input type="hidden" name="OrderID">
      <input type="hidden" name="Currency">
      <input type="hidden" name="TransactionType">
      <input type="hidden" name="ClientRef0">
      <input type="hidden" name="ClientRef1">
      <input type="hidden" name="ClientRef2">
      <input type="hidden" name="ClientRef3">
      <input type="hidden" name="ClientRef4">
      <input type="hidden" name="Amount">
      <input type="hidden" name="CustomerName">
      <input type="hidden" name="CustomerEmail">
      <input type="hidden" name="CustomerPhoneNo">
    </form>

  </div>
  {% include 'includes/footer-dashboard.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
 

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
{% endblock javascripts %}
