{% extends "layouts/base.html" %}

{% block title %} Dashboard - Feedback List {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load crispy_forms_tags %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">CIDB</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">Feedback List</li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- Card stats -->
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      {% if role == 'staff' %}
      <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
              <h2 class="text-center mb-0 pb-0">
                List of Feedbacks
              </h2>
            </div>
            <div class="table-responsive py-4">    
              <table class="table table-custom-simplified">
                <thead class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Training Name</th>
                    <th>Send to Trainer?</th>
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for fs in feedbacks %}
                  <tr>
                    <td>{{ fs.code_id }}</td>
                    <th>{{ fs.user.name }}</th>
                    <td>{{ fs.training.training_name }}</td>
                    <td>{{ fs.warning_delivered }}</td>
                    <td>{{ fs.created_date.date }}</td>
                    <td><a href="{% url 'dashboard_training_feedback_review' fs.id %}" class="btn btn-sm btn-info">Review</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
      {% endif %}
      {% if role == 'trainee' %}
      <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
              <h2 class="text-center mb-0 pb-0">
                List of Feedbacks
              </h2>
            </div>
            <div class="table-responsive py-4">    
              <table class="table table-custom-simplified">
                <thead class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Training Name</th>
                    <th>Feedback</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for fs in feedbacks %}
                  <tr>
                    <td>{{ fs.code_id }}</td>
                    <td>{{ fs.training.training_name }}</td>
                    <td>{{ fs.description_1 }}</td>
                    <td>{{ fs.created_date.date }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
      {% endif %}
    </div>


  </div>
  {% include 'includes/footer-dashboard.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
